---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: '2023-2026',
        title: 'Desarrollador Full Stack',
        company: 'Empresa de desarrollo de software, Ciudad de México',
        description: `Lideré tres proyectos tecnológicos de inicio a fin, participando activamente en el análisis funcional y técnico, levantamiento de requerimientos, diseño de soluciones y desarrollo de sistemas basados en arquitecturas web y microservicios.

        Desarrollé servicios backend en Node.js, implementando APIs REST, autenticación, lógica de negocio y manejo eficiente de datos mediante bases de datos relacionales (MySQL) y stored procedures, priorizando rendimiento, escalabilidad y estabilidad.

        Fui responsable del despliegue, configuración y administración de servidores, gestionando entornos de desarrollo y producción, control de procesos, variables de entorno, versionado y mantenimiento de servicios en operación.

        Las soluciones estuvieron orientadas a los sectores gubernamental, logístico y organizacional, enfocadas en la optimización de procesos críticos y la trazabilidad de la información.`,

    },
]
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience } />
            </li>
        ))
    }               
</ol>

