---
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import MailIcon from "../components/icons/Mail.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
---
<div class="max-w-x1">
    <div class="flex gap-4 mb-4">
        <img class="rounded-full size-24 shadow-lg" 
			src="/javier_c.jpeg" 
			alt="Victor Javier photo" 
			/>
	</div>
    <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl dark:text-white">¡Hola, soy Victor Javier!</h1>
	<p class="mt-6 text-xl text-white dark:[&>strong]:text-[#2ddf43] [&>strong]:text-[#4a205a] [&>strong]:font-semibold dark:text-gray-300">
		<span class="text-[#2ddf43]">Ingeniero en Desarrollo y Gestión de Software</span> con experiencia en desarrollo de sistemas, soporte técnico, mantenimiento preventivo y
		correctivo de equipos de cómputo y administración básica de redes. Soy proactivo, orientado a resultados y con capacidad para resolver
		problemas de manera creativa y eficiente.
	</p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <!-- <SocialPill href="https://github.com/cruzangelesj">
            <GitHubIcon class="size-4 md:size-6" />
                GitHub
			</SocialPill>
			<SocialPill href="mailto:victorjaviercruzangeles@gmail.com">
				<MailIcon class="size-4 md:size-6" />
				victorjaviercruzangeles@gmail.com
		</SocialPill> -->

<SocialPill href="https://github.com/cruzangelesj">
  <GitHubIcon class="size-4 md:size-6" />
  GitHub
</SocialPill>

<SocialPill href="mailto:victorjaviercruzangeles@gmail.com">
  <MailIcon class="size-4 md:size-6" />
  victorjaviercruzangeles@gmail.com
</SocialPill>
			</nav>
</div>
